<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title w-100 text-center m-4">{{ instrument.ticker }}</h5>
        <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="period">Select Period:</label>
            <select id="period" class="form-control" [(ngModel)]="selectedPeriod" (change)="onPeriodChange(selectedPeriod)">
              <option *ngFor="let period of periods" [value]="period">{{ period }}</option>
            </select>
          </div>
          <div class="graph-placeholder" style=" border: 1px solid #ddd;">
            <ag-charts
              style="display: grid"
              [options]="chartOptions">
            </ag-charts>
          </div>
        </div>
        <div class="col">
            <div class="row mb-2 mt-2 center d-flex p-2 justify-content-center">
                Current Price: ${{ stockInfo.price }}
            </div>
            <div class="row mt-3">
                <table class="table table-bordered mt-10">
                    <tbody>
                        <tr>
                        <td>Shares Owned <br> <b>{{ stockInfo.number_of_shares > 0 ? stockInfo.number_of_shares : '-'}}</b></td>
                        <td>Average Cost <br> <b>${{ stockInfo.average_price_paid > 0 ? stockInfo.average_price_paid : '-'}}</b></td>
                        <td>52 Week High <br> <b>${{ stockInfo['52-wk-high']}}</b></td>
                        <td>Trailing P/E Ratio <br> <b>{{ stockInfo.trailing_PE}}</b></td>
                        </tr>
                        <tr>
                        <td>Profit/Loss <br> <b>${{ stockInfo.p_l  > 0 ? stockInfo.p_l : '0'}}</b></td>
                        <td>% of Portfolio <br> <b>{{ stockInfo.number_of_shares > 0 ? ((stockInfo.number_of_shares * stockInfo.average_price_paid / totalPortfolioValue * 100).toFixed(2)) : '-' }}%</b></td>
                        <td>52 Week Low <br> <b>${{ stockInfo['52-wk-low']}}</b></td>
                        <td>30-Day Div Yield <br> <b>{{ (stockInfo.dividendYield*100).toFixed(2) }}%</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="mt-3">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Number of Shares" [(ngModel)]="shares">
            <span class="input-group-text">Shares</span>
          </div>
          <div class="mb-3">
            <p>Dollar Amount: <b>${{ shares * stockInfo.price }}</b></p>
          </div>
          <div>
            <button type="button" class="btn btn-success me-2" (click)="buyInstrument(instrument.instrumentType, instrument.ticker, shares)" [disabled]="shares * stockInfo.price > cashAvailable">Buy</button>
            <button type="button" class="btn btn-danger" (click)="sellInstrument(instrument.instrumentType, instrument.ticker, shares)" [disabled]="shares > stockInfo.number_of_shares">Sell</button>
          </div>
        </div>
      </div>
  </div>
</div>
