<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title w-100 text-center m-4">{{ instrument.ticker }}</h5>
        <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="period">Select Period:</label>
            <select id="period" class="form-control" [(ngModel)]="selectedPeriod" (change)="onPeriodChange(selectedPeriod)">
              <option *ngFor="let period of periods" [value]="period">{{ period }}</option>
            </select>
          </div>
          <div class="graph-placeholder" style=" height: 195px; border: 1px solid #ddd;">
            <ag-charts
              [options]="chartOptions">
            </ag-charts>
          </div>
        </div>
        <div class="col">
            <div class="row mb-2 mt-2 center d-flex p-2 justify-content-center">
                Current Price: ${{ stockInfo.price }}
            </div>
            <div class="row mt-3">
                <table class="table table-bordered mt-10">
                    <tbody>
                        <tr>
                        <td>Shares Owned <br> {{ stockInfo.number_of_shares > 0 ? stockInfo.number_of_shares : '-'}}</td>
                        <td>Average Cost <br> {{ stockInfo.average_price_paid > 0 ? stockInfo.average_price_paid : '-'}}</td>
                        <td>52 Week High <br> {{ stockInfo['52-wk-high']}}</td>
                        <td>Trailing P/E Ratio <br> {{ stockInfo.trailing_PE}}</td>
                        </tr>
                        <tr>
                        <td>Profil/Loss <br> ${{ stockInfo.p_l  > 0 ? stockInfo.p_l : '0'}}</td>
                        <td>% of Portfolio <br> {{ stockInfo.number_of_shares > 0 ? (stockInfo.number_of_shares * stockInfo.average_price_paid / totalPortfolioValue * 100) : '-' }}%</td>
                        <td>52 Week Low <br> {{ stockInfo['52-wk-low']}}</td>
                        <td>30-Day Div Yield <br> {{ stockInfo.dividendYield}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="mt-3">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Number of Shares" [(ngModel)]="shares">
            <span class="input-group-text">Shares</span>
          </div>
          <div class="mb-3">
            <p>Dollar Amount: {{ shares * stockInfo.price }}</p>
          </div>
          <div>
            <button type="button" class="btn btn-success me-2" (click)="buyInstrument(instrument.instrumentType, instrument.ticker, shares)" [disabled]="shares * instrument.currentPrice > cashAvailable">Buy</button>
            <button type="button" class="btn btn-danger" (click)="sellInstrument(instrument.instrumentType, instrument.ticker, shares)" [disabled]="shares > instrument.sharesOwned">Sell</button>
          </div>
        </div>
      </div>
  </div>
</div>
