<h1 class="h2">Holdings</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Ticker</th>
            <th>Shares Owned</th>
            <th>Market Value</th>
            <th>Current Price</th>
            <th>Today's Returns</th>
            <th>Total Return</th>
            <th>Profit / Loss</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (instrument of portfolioinstruments$ | async; track instrument.name; let i = $index) {
            <tr>
                <td>{{i+1}}</td>
                <td>{{instrument.name}}</td>
                <td>{{instrument.ticker}}</td>
                <td>{{instrument.sharesOwned}}</td>
                <td>${{instrument.marketValue}}</td>
                <td>${{instrument.currentPrice}}</td>
                <td [ngClass]="{'negativeReturnTbl': instrument.todaysReturns < 0, 'positiveReturnTbl': instrument.todaysReturns >= 0}">{{instrument.todaysReturns}}%</td>
                <td [ngClass]="{'negativeReturnTbl': instrument.totalReturn < 0, 'positiveReturnTbl': instrument.totalReturn >= 0}">{{instrument.totalReturn}}%</td>
                <td [ngClass]="{'negativeReturnTbl': instrument.p_l < 0, 'positiveReturnTbl': instrument.p_l >= 0}">${{instrument.p_l}}</td>
                <td><button class="btn btn-primary" (click)="openTradingModal(instrument)">Trade</button></td>

            </tr>
        }
        @empty {
            <tr>
                <td colspan="10" style="text-align: center">No instruments found</td>
            </tr>
        }
    </tbody>
</table>
