<head>
  <link href="../page/page.component.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">-->
  <script src="../page/page.component.js"></script>
</head>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">YTD</th>
      <th scope="col">Today</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>random</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>random</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>random</td>
      <td>data</td>
      <td>data</td>
    </tr>
    </tbody>
  </table>
</div>
