<head>
  <link href="../page/page.component.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">-->
  <script src="../page/page.component.js"></script>
</head>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">YTD</th>
      <th scope="col">Today</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>S&P500</td>
      <td style="color:green">22.4&</td>
      <td style="color:red">-1.2%</td>
    </tr>
    <tr>
      <td>Dow Jones</td>
      <td style="color:green">15.1%</td>
      <td style="color:red">-0.3%</td>
    </tr>
    <tr>
      <td>NASDAQ</td>
      <td style="color:green">16.8%</td>
      <td style="color:red">-2.7%</td>
    </tr>
    </tbody>
  </table>
</div>
