
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Portfolio Manager</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Overview</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Stocks</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Bonds</button>
    </div>
  </div>
</div>

<div class="container-fluid py-3">
  <div class="row my-3">
    <div class="col">
      <label>My Portfolio Overview</label>
    </div>
    <div class="col">
      <label>Available Funds</label>
    </div>
    <div class="col">
      <button> Manage Funds </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <app-performance-graph></app-performance-graph>
    </div>
    <div class="col">
      <app-investment-graph></app-investment-graph>
    </div>
    <div class="col">
      <app-market-overview></app-market-overview>
    </div>
  </div>
</div>

