<head>
  <link href="./page.component.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css" />
</head>
<div>

<div class="container py-4">
<!--  nav bar-->
  <div class ="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Portfolio Manager</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group-lg me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Overview</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Stocks</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Bonds</button>
      </div>
    </div>
  </div>
</div>

  <div class="container py-3" >
    <app-gloal-search></app-gloal-search>
  </div>


<!--static-->
  <div class ="container py-1" id="static-info">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h6 style="display: block; text-align: left;">My Portfolio Overview</h6>
      </div>
      <div class="feature col">
        <h6 style="display: block; text-align: center;">Available Funds: $15,000.02</h6>
      </div>
      <app-funds></app-funds>
    </div>

  </div>

  <!--  a container for 2 graphs and market overview-->
  <div class="container py-4" id="3-graphs">
    <div class="row g-4  row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <app-performance-graph></app-performance-graph>
      </div>
      <div class="feature col">
        <app-investment-graph></app-investment-graph>
      </div>
      <div class="feature col">
        <app-market-overview></app-market-overview>
      </div>
    </div>

  </div>

<!--  holdings-->
  <div class="container py-5">
    <app-holdings></app-holdings>
  </div>



  </div>


