::ng-deep .modal-dialog {
    max-width: 80vw !important; /* Adjust as necessary */
    width: 40vw !important; /* Adjust as necessary */
    pointer-events: auto;
}

::ng-deep .modal-content, ::ng-deep .modal-header{
    border: none !important;
}